body {
  margin: 1em auto;
  max-width: 50em;
  padding: 0.6em;
  font-size: 1.2em;
  font-family: baskerville, palatino, georgia, serif;
}

h {
  line-height: 1.3;
}
a {
  text-decoration: none;
  color: blue;
}

table {
  width: 100%;
}
td.registration-message {
  text-align: center;
  color: #555555;
}
td.registration-message.code {

}
.unregister-code {
  font-size: 0.9em;
  font-weight: bold;
  float: right;
  color: #428a52;
  padding: 10px;
}

.event-thumbnail {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border: 1px solid #eeeeee;
  padding: 1px;
  width: 200px;
}

.unregister {
  font-size: 0.7em;
}
.unregister.success {
  color: green;
}
.unregister.error {
  color: red;
}
