/* Stuff applying to whole page */
body {
  margin: 1em auto 1em;
  max-width: 50em;
  padding: 0.6em;
  font-size: 1.2em;
  font-family: baskerville, palatino, georgia, serif;
  border-left: 1px solid;
  border-right: 1px solid;
}
h {
  line-height: 1.3;
}
a {
  text-decoration: none;
  color: #205;
}

/* Welcome to Magic Events */
h1.logo {
  background-color: #205;
  border-radius: 0.2em;

  text-align: center;
  color: #F4FAFF;
  padding: 3px;
}

/* User greeting: "Hello, username!" */
.greeting {
  height: 2em;
  border-bottom: 1px solid #220055;
}
.login-options {
  float: right;
  margin-right: 0.5em;
}
.login-options:first-child {
  margin-right: 0;
}

/* Events table */
table {
  width: 100%;
}
td.registration-message {
  text-align: center;
  color: #555555;
}
.unregister-code {
  font-size: 0.9em;
  font-weight: bold;
  float: right;
  color: #428a52;
  padding: 10px;
}
.event-thumbnail {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border: 1px solid #eeeeee;
  padding: 1px;
}

/* Unregistration messages */
.unregister {
  font-size: 0.7em;
}
.unregister.success {
  color: green;
}
.unregister.error {
  color: red;
}
